[submodule "frontend"]
	path = frontend
	url = git@github.com:Marketplace-telegram-bots-for-transport/bots-for-transport.git
[submodule "backend"]
	path = backend
	url = git@github.com:Marketplace-telegram-bots-for-transport/bots-for-transport.git
